ol.breadcrumb.pl-lg-0.full-width-below-lg {
    font-size: 16px;
    margin: 0 0 16px;
    padding: 12px 16px 12px 0;
}

a{
    color: #009D1D;
    font-size: 16px;
}

div.container.pr-lg-0{
    margin: 0 31.3333px;
    padding: 0 0 0 15px;
}

a.nav-link.active{
    background-color: #eaeaea;
    padding: 8px 16px;
}

.breadcrumb{
    background-color: white;
}

.col-sm-12.col-md-2.d-none.d-md-block{
    background-color: #F6F6F6;
    border-radius: 5px;
    height: 250px;
}
